/* Esport ************************************************************************************************************************************* */
#divEsport{
    display:none;
    width:330px;
    height:222px;
}


/* Options ************************************************************************************************************************************* */

#game {
    display: none;
}

.gameSelected {
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    width: 100px;
    background-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(165, 255, 255);
    color: black;
    transition: all 0.1s;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.gameSelected:hover {
    transform: scale(110%);
    cursor: pointer;
}

.gameNotSelected {
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    width: 100px;
    border-style: none;
    border-radius: 5px;
    background-color:rgb(165, 255, 255);
    color: black;
    transition: all 0.1s;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.gameNotSelected:hover {
    transform: scale(110%);
    cursor: pointer;
}

/* Affichage ************************************************************************************************************************************* */

.affGame {
    display:block;
}

.notAffGame {
    display: none;
}

